.pattern{
background-image: url(img/pattern.png);
background-color:#4da6ff;
padding: 20px;
padding-left: 7%;
background-size: 400px;

}
.logo{
    max-height: 150px;
    max-width: 200px;
}
.highlighter{
background-color: yellow;
}
.thebooleaner{
    color: #1ad1ff;
}
.headline{
    color:#999999;
}
main{
    padding-right: 7%;
    padding-left: 7%;
}
#bigtitle{
    font-size: 45px;
}
footer{
    padding-right: 7%;
    padding-left: 7%;

}
.footer{
    background-image: url(img/monitor.jpg);
    height: 200px;
    width: 300px;
    color: white;
    
}
.footer2{
    background-image: url(img/graph.jpg);
    height: 200px;
    width: 300px;
    color: white;
}
.headlist{
    color: white;
    background-color:  #1ab2ff;
}
table td{
    min-width: 300px;
}
.color{
    background-color: #99ddff;
}
.headlinetext{
    margin-top: 0px;
}
footer h2{
    color: #999999;
}