.pattern{
background-image: url(pattern.png);
background-color:#4da6ff;
padding: 20px;
background-size: contain;
}
.logo{
    max-height: 150px;
    max-width: 200px;
}
.highlighter{
background-color: yellow;
}
main{
    padding-right: 7%;
    padding-left: 7%;
}
#bigtitle{
    font-size: 45px;
}
footer{
    padding-right: 7%;
    padding-left: 7%;

}
.footer{
    background-image: url(img/monitor.jpg);
   
    
}
.footer2{
    background-image: url(img/graph.jpg);
}